body {
  background: #FFE;
  margin: 0 auto;
  max-width: 600px;
  background-color: light grey; 
  font-family: "Helvetica"
  }

  article {
    max-width: 500px;
    margin: 0 auto;  
    }
         
  p {
    font-family: "Helvetica";
         }
  @media (max width: 500px) { 
  h1{
    font-size: 36px;
}
h2 {
  font-family: helvetica;
}

h3 {
  font-style: italic;
}

img {
	border: 3px solid black;
}


li[background="transparent"] {
  background-color: transparent;  
}
.ingredients li {
  font-weight: 700;
}
